<div class="clr-row">
  <div class="col-xs-8 offset-xs-2 col-md-6 offset-md-3 exhibitions-body">
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2009</h4>
      <div class="bio-info">Scenic, Inc/Coalition for the Homeless, Auction. New York, NY</div>
      <div class="bio-info">Pulse Art Fair, Miami, FL</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2008</h4>
      <div class="bio-info">If I Should Die Before I Wake, BravinLee Programs, New York,  NY</div>
      <div class="bio-info">PulsePlay, Pulse Art Fair.  Curated by Bill Arning</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2007</h4>
      <div class="bio-info">Jouissance, Autoversion, LTD.  New York, NY</div>
      <div class="bio-info">Ho Hum All Ye Faithful, BravinLee Programs.  New York, NY</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2004</h4>
      <div class="bio-info">Origins of Harold, Deitch Projects, New York, NY</div>
      <div class="bio-info">Phiiliip Project, Deitch Projects, Brooklyn, NY</div>
      <div class="bio-info">artFORCE, PLUM Tv, Hamptons, NY</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2003</h4>
      <div class="bio-info">Anxiety, Influence, and Gratitude, MIT List Visual Arts Center, Cambridge, MA</div>
      <div class="bio-info">Beauty, Kravets/Wehby Gallery, New York, NY</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2002</h4>
      <div class="bio-info">Screen Tests, Gorney Bravin + Lee, New York, NY</div>
      <div class="bio-info">Debut, Tribeca Grand Hotel, 7 March Screening</div>
      <div class="bio-info">Shine 02, for Amnesty International, www.Shine02.org</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2001</h4>
      <div class="bio-info">American, Postmasters Gallery, New York, NY, curated by Patrick Callery</div>
      <div class="bio-info">Alone Again, Naturally, The Standard Hotel, Los Angeles, CA. curated by Yvonne Force Villareal</div>
      <div class="bio-info">A Few of my Favorite Things, Sotheby’s, New York, NY. curated by Yvonne Force Villareal</div>
      <div class="bio-info">Internationales Video, Barbara Gross Galerie, Munich, Germany. curated by Stella Rollig</div>
      <div class="bio-info">Electronic Orphanage, Tirana Biennial, Tirana, Albania.</div>
      <div class="bio-info">Wattage and Friendship, Muller DiChiara, Berlin, Germany.</div>
      <div class="bio-info">New Photography, Arena@Feed, Brooklyn, NY. curated by Stella Rollig</div>
      <div class="bio-info">The Standard Projection-24/7, The Standard Hotel, Los Angeles, CA. curated by Yvonne Force Villareal</div>
      <div class="bio-info">Botanica 2007, The Downtown Arts office, New York, NY. curated by Franco Mondini-Ruiz</div>
      <div class="bio-info">New New York, Texas Fine Arts Association, Austin,TX. (catalog) curated by Alejandro Diaz</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2000</h4>
      <div class="bio-info">Hers - Video as a Female Terrain, Steirischer Herbst, Landesmuseum Joanneum, Graz, Austria</div>

      <h4 class="bold-title KapraNeuePro-SemiBoldExp">1999</h4>
      <div class="bio-info">Video and Projection, Geffen Contemporary at MOCA, Los Angeles, CA curated by Simon Watson</div>
      <div class="bio-info">Performed Sculpture: Food, Rare Gallery, New York, NY curated by Simon Watson</div>
      <div class="bio-info">Grope Show, Team Gallery, New York, NY</div>
      <div class="bio-info">Moving in Stereo, Derek Eller Gallery, New York, NY</div>

      <h4 class="bold-title KapraNeuePro-SemiBoldExp">1998</h4>
      <div class="bio-info">Fandom, White Columns Gallery, New York, NY, curated by Paul Ha</div>

      <h4 class="bold-title KapraNeuePro-SemiBoldExp">1997</h4>
      <div class="bio-info">Blur vs. Oasis, 55 Broad St, New York, NY, curated by Bill Arning</div>
  </div>
</div>