<div class="clr-row">
  <div class="col-xs-8 offset-xs-2 col-md-6 offset-md-3 exhibitions-body">
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2009</h4>
      <div class="bio-info"><span class="show-title">Scenic, Inc/Coalition for the Homeless</span>, Auction. New York, NY</div>
      <div class="bio-info"><span class="show-title"></span>Pulse Art Fair, Miami, FL</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2008</h4>
      <div class="bio-info"><span class="show-title">If I Should Die Before I Wake</span>, BravinLee Programs, New York,  NY</div>
      <div class="bio-info"><span class="show-title">PulsePlay</span>, Pulse Art Fair.  Curated by Bill Arning</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2007</h4>
      <div class="bio-info"><span class="show-title">Jouissance</span>, Autoversion, LTD.  New York, NY</div>
      <div class="bio-info"><span class="show-title">Ho Hum All Ye Faithful</span>, BravinLee Programs.  New York, NY</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2004</h4>
      <div class="bio-info"><span class="show-title">Origins of Harold</span>, Deitch Projects, New York, NY</div>
      <div class="bio-info"><span class="show-title">Phiiliip Project</span>, Deitch Projects, Brooklyn, NY</div>
      <div class="bio-info"><span class="show-title">artFORCE</span>, PLUM Tv, Hamptons, NY</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2003</h4>
      <div class="bio-info"><span class="show-title">Anxiety</span>, Influence, and Gratitude, MIT List Visual Arts Center, Cambridge, MA</div>
      <div class="bio-info"><span class="show-title">Beauty</span>, Kravets/Wehby Gallery, New York, NY</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2002</h4>
      <div class="bio-info"><span class="show-title">Screen Tests</span>, Gorney Bravin + Lee, New York, NY</div>
      <div class="bio-info"><span class="show-title">Debut</span>, Tribeca Grand Hotel, 7 March Screening</div>
      <div class="bio-info"><span class="show-title">Shine 02</span>, for Amnesty International, www.Shine02.org</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2001</h4>
      <div class="bio-info"><span class="show-title">American</span>, Postmasters Gallery, New York, NY, curated by Patrick Callery</div>
      <div class="bio-info"><span class="show-title">Alone Again, Naturally</span>, The Standard Hotel, Los Angeles, CA. curated by Yvonne Force Villareal</div>
      <div class="bio-info"><span class="show-title">A Few of my Favorite Things</span>, Sotheby’s, New York, NY. curated by Yvonne Force Villareal</div>
      <div class="bio-info"><span class="show-title">Internationales Video</span>, Barbara Gross Galerie, Munich, Germany. curated by Stella Rollig</div>
      <div class="bio-info"><span class="show-title">Electronic Orphanage</span>, Tirana Biennial, Tirana, Albania.</div>
      <div class="bio-info"><span class="show-title">Wattage and Friendship</span>, Muller DiChiara, Berlin, Germany.</div>
      <div class="bio-info"><span class="show-title">New Photography</span>, Arena@Feed, Brooklyn, NY. curated by Stella Rollig</div>
      <div class="bio-info"><span class="show-title">The Standard Projection-24/7</span>, The Standard Hotel, Los Angeles, CA. curated by Yvonne Force Villareal</div>
      <div class="bio-info"><span class="show-title">Botanica 2007</span>, The Downtown Arts office, New York, NY. curated by Franco Mondini-Ruiz</div>
      <div class="bio-info"><span class="show-title">New New York</span>, Texas Fine Arts Association, Austin,TX. (catalog) curated by Alejandro Diaz</div>
      
      <h4 class="bold-title KapraNeuePro-SemiBoldExp">2000</h4>
      <div class="bio-info"><span class="show-title">Hers - Video as a Female Terrain</span>, Steirischer Herbst, Landesmuseum Joanneum, Graz, Austria</div>

      <h4 class="bold-title KapraNeuePro-SemiBoldExp">1999</h4>
      <div class="bio-info"><span class="show-title">Video and Projection</span>, Geffen Contemporary at MOCA, Los Angeles, CA curated by Simon Watson</div>
      <div class="bio-info"><span class="show-title">Performed Sculpture: Food</span>, Rare Gallery, New York, NY curated by Simon Watson</div>
      <div class="bio-info"><span class="show-title">Grope Show</span>, Team Gallery, New York, NY</div>
      <div class="bio-info"><span class="show-title">Moving in Stereo</span>, Derek Eller Gallery, New York, NY</div>

      <h4 class="bold-title KapraNeuePro-SemiBoldExp">1998</h4>
      <div class="bio-info"><span class="show-title">Fandom</span>, White Columns Gallery, New York, NY, curated by Paul Ha</div>

      <h4 class="bold-title KapraNeuePro-SemiBoldExp">1997</h4>
      <div class="bio-info"><span class="show-title">Blur vs. Oasis</span>, 55 Broad St, New York, NY, curated by Bill Arning</div>
  </div>
</div>