.exhibitions-body {
    text-align: left;
}

.bold-title {
    color: #B0ADB1;
}

.show-title {
    font-family: KapraNeuePro-SemiBoldExpRd;
	font-weight: normal;
    font-style: normal;
}

.bio-info {
    font-family: KapraNeuePro-LightExpRd;
    font-weight: normal;
    font-style: normal;
    color: #717171;
}