<div class="clr-row">
  <div class="col-sm-1 offset-sm-1">
    
  </div>
  <div class="showcase-item col-sm-8">
    <div class="showcase-image col-sm-12">
          <img
            [src]="currentPainting.imagePath"
            alt="{{ currentPainting.title }}"
            class="img-responsive">
    </div>
    <div class="col-sm-12 showcase-label">
      <h4 class="painting-title">
        <span>{{ currentPainting.title }}</span>
        <span class="KapraNeuePro-MediumIt showcase-date-dimensions">{{ currentPainting.yr }}</span>
        <span class="showcase-date-dimensions">{{ currentPainting.dimensions }}</span>
      </h4>
      <p class="showcase-description">{{ currentPainting.desc }}</p>
    </div>
  </div>
  <div class="nav-block col-sm-12">
    <div class="showcase-nav col-sm-8 offset-sm-2">
      <div 
        *ngFor="let item of paintingList; let index = index" [class.active]="index === 0"
        class="showcase-nav-element"
        [ngClass]="{'active': currentNavItem===index}"
        (click)="onSelected($event, item)"
        [style.backgroundImage]="'url('+ item.thumbnailPath +')'"
        >
    </div>
    </div>
  </div>
</div>


