.manifesto-body {
    text-align: left;
    text-transform: none;
    color: #878787;
    padding-top: 80px;
}

@media screen and (max-width: 780px) {
    .manifesto-body{
        padding: 0 15px;
    }
    
}