<div class="clr-row">
  <div class="col-sm-6 offset-sm-3">
    <h3 class="manifesto-body">Welcome to the world of misattributed quotes, of change left on the sidewalk. The world of leftover gloves and
        lesser known colors, of ranunculus and garden roses, stolen moments and missed opportunity. The world of empty
        barstools, of wrong turns and long alleys, of short walks off of long piers, of love and danger and careful
        fearlessness. The world of forgetting to grow up and of comic blunders, of falling towers and leaning drunks, the
        world which fits in your pocket and contains the universe.</h3>
      <h3 class="manifesto-body manifesto-call">Enjoy your stay.</h3>
  </div>
</div>

