<div class="clr-row">
  <div class="big-title KapraNeuePro-SemiBoldExp clr-col-12">DANNYHOBART</div>
  <div class="header-buttons clr-col-12">
    <button 
      class="btn btn-link KapraNeuePro-SemiBoldExp" 
      (mouseover)="onMouseOver($event)"
      (click)="handleClick('static-art')"
      >Static</button>
    <button 
      class="btn btn-link KapraNeuePro-SemiBoldExp" 
      (mouseover)="onMouseOver($event)"
      (click)="handleClick('motion-art')"
      >motion</button>
    <button 
      class="btn btn-link KapraNeuePro-SemiBoldExp" 
      (mouseover)="onMouseOver($event)"
      (click)="handleClick('online-art')"
      >online</button>
    <button 
      class="btn btn-link KapraNeuePro-SemiBoldExp" 
      (mouseover)="onMouseOver($event)"
      (click)="handleClick('writing')"
      >writing</button>
    <button 
      class="btn btn-link KapraNeuePro-SemiBoldExp" 
      (mouseover)="onMouseOver($event)"
      (click)="handleClick('exhibitions')"
      >exhibitions</button>
  </div>
</div>
